<div class="jumbotron">
    <h1>C# Leaderboard</h1>
</div>
<div class="alert alert-danger" id="errorMessage">
    <h3>Leaderboard failed to load. Please reload the page.</h3>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-bordered table-striped" id="leaderboard">
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Passed</th>
                <th>Failed</th>
                <th>Skipped</th>
            </tr>
        </table>
    </div>
</div>
